@font-face {
    font-family: Consistance;
    src: url(../fonts/Consistance.eot);
}

@font-face {
    font-family: Consistance;
    src: url(../fonts/Consistance.ttf);
}

/*layout*/
* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background-image: url(../images/homepage_headimage.png);
    background-size: cover;
}

header {
    
}

nav {
    
}

footer{
    background-image: url(../images/footer_image.png);
    background-size: cover;
}
/*typography*/
h1 {
    font-family: Consistance;
    font-size: 50px;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 24px;
}

h3{
    font-family: 'Major Mono Display', monospace;
    font-size: 18px;
}

h6{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*media queries*/
@media screen and (min-width:360px) {}
