@font-face {
    font-family: Consistance;
    src: url(../fonts/Consistance.eot);
}

@font-face {
    font-family: Consistance;
    src: url(../fonts/Consistance.ttf);
}

/*layout*/
* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body{
    margin: 0;
    justify-content: center;
}

nav {
    top: 0;
    margin: 0;
    height: 60px;
    width: 100vw;
    background-color: grey;
    display: flex;
    position: fixed;
    font-family: 'Major Mono Display', monospace;
    justify-content: space-between;
}

#logo{
    justify-content: flex-start;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

li{
    margin: 0 20px;
}

#headimage{
/*    position: absolute;*/
    width: 100vw;
}

#headimage img{
    width: 100vw;
}

#headh2{
    margin-top: -150px;
    margin-left: 30px;
}

button {
    height: 30px;
    width: 90px;
    background-color: #c87962;
    color: #f1e6d6;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

button:hover {
    background-color: #f1e6d6;
    color: #c87962;
}

#otherSections img{
    width: 100vw;
}

footer {
    margin: 0;
}

footer img{
    width: 100vw;
}

#signup{
    margin-top: -500px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 175px 65px;
}

#signupBox{
    border: 2px solid black;
    grid-column: 1/2;
    
}

#signupButton{
    grid: 2/3;
}

#contactInfo{
    padding-left: 40px;
}

.signup{
    border-bottom: 2px solid #c87962;
}




/*typography*/

h1 {
    font-family: Consistance;
    font-size: 50px;
}

h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 24px;
}

h3 {
    font-family: 'Major Mono Display', monospace;
    font-size: 18px;
}

h4 {
    font-family: Consistance;
    font-size: 24px;
    margin: 0;
}

h5{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

/*media queries*/
@media screen and (min-width:640px) {
    
    #otherSections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    
    #sectionAbout{
        grid-column: 1/2;
    }
    
    #sectionArtist{
        grid-column: 2/3;
    }
    
    #sectionWorkshop{
        grid-column: 1/2;
    }
    
    #sectionGallery{
        grid-column: 2/3;
    }
}
