    /*-----GENERAL-----*/


    * {
        box-sizing: border-box;
    }

    @font-face {
        font-family: Consistance;
        src: url(../fonts/Consistance.eot);
    }

    @font-face {
        font-family: Consistance;
        src: url(../fonts/Consistance.ttf);
    }

    body {
        background-color: white;
    }

    html {
        font-size: 100%;
        font-family: font-family: 'Roboto', sans-serif;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
    }





    /*-----TYPOGRAPHY-----*/


    h1 {
        font-family: 'Major Mono Display', monospace;
        font-size: 2rem;
    }

    h2 {
        display: inline-block;
        font-family: 'Major Mono Display', monospace;
        font-size: 1.5rem;
        border-bottom: 2px solid #c87962;
    }

    h3 {
        font-family: 'Major Mono Display', monospace;
        font-size: 1.125rem;
    }

    h4 {
        font-family: Consistance;
        font-size: 1.5rem;
        margin: 0;
        color: #c87962;
    }

    h5 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
    }

    h6 {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 1rem;
    }

    p {
        font-family: 'Roboto', sans-serif;
        color: black;
        font-size: 0.875rem;
        font-weight: 300;
    }

    p a {
        color: #c87962;
        font-weight: 400;
        text-decoration: none;
    }

    p a:hover {
        text-decoration: underline;
    }





    /*-----NAVIGATION-----*/


    header {
        background-color: transparent;
        height: 50px;
    }

    nav {
        font-family: 'Major Mono Display', monospace;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-bottom: 10px;
    }

    #logo {
        width: 100px;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
    }

    #links {
        display: none;
    }

    #links a {
        text-decoration: none;
    }


    /*--WHY HOVER DOESN'T WORK ?---*/


    nav #links a: hover {
        text-decoration: underline;
    }

    /*--WHY HOVER DOESN'T WORK ?---*/


    #links li {
        font-size: 0.6rem;
        list-style: none;
        margin: 20px;
        color: black;
    }

    #links li:last-child {
        margin-right: 10px;
    }

    #navButton {
        width: 17.5px;
        height: 20px;
        color: black;
        font-size: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }



    /*-----MOBILE MENU-----*/



    #menu {
        display: none;
        font-family: 'Major Mono Display', monospace;
        height: 640px;
        width: 100%;
        background-color: #daa857;
        position: absolute;
        width: 100%;
        top: 50px;
        text-align: center;
    }

    #menu ul {
        padding-left: 0;
    }


    #menu a {
        text-decoration: none;
        padding-top: 32px;
    }

    #menu li {
        color: black;
        font-size: 1.125rem;
        list-style: none;
        margin-top: 32px;

    }

    .displayMenu {
        display: block !important;
    }

    .fas fa-times {
        display: block !important;
    }



    /*-------HERO-------*/

    #headerSection {
        height: 640px;
        margin-bottom: 30px;
    }

    #hero {
        height: 640px;
        margin-bottom: 30px;
        overflow: hidden;
        background-color: white;
    }

    #heroWeb {
        display: none;
    }

    #heroText {
        margin-top: -250px;
        margin-left: 20px;
    }

    button {
        width: 100px;
        height: 30px;
        background-color: #c87962;
        color: #f1e6d6;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        border: none;
        justify-content: center;
        align-items: center;
    }

    button:hover {
        background-color: #f1e6d6;
        color: #c87962;
    }

    .card {
        background-color: white;
        margin-bottom: 16px;
    }

    .cardText {
        text-align: center;
        padding: 16px;
    }




    /*-------ARTIST section-------*/

    #emma,
    #lauren,
    #rachel {
        display: none;
    }


    /*------WORKSHOP section-----*/

    #workshop {}

    #workshopWeb {
        display: none;
    }


    /*----GALLERY section----*/

    #image2,
    #image3,
    #image4 {
        display: none;
    }

    /*---EXHIBITION PAGE---*/


    #exhibitionInfo {
        padding: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 32px;
    }

    #location {
        height: 120px;
        border-left: 0.2rem solid #daa857;
        grid-column: 1/2;
    }

    #date {
        height: 120px;
        border-left: 0.2rem solid #daa857;
        grid-column: 2/3;
    }

    #time {
        height: 120px;
        border-left: 0.2rem solid #daa857;
        grid-column: 3/4;
    }

    .cardTextExhibition {
        text-align: center;
        padding: 16px;
    }


    /*-----ARTIST PAGE-----*/

    #artistGrid {
        margin-top: 120px;
        margin-bottom: 120px;
    }


    .cardTextArtist {
        text-align: center;
        padding: 16px;
    }

    /*-----WORKSHOP PAGE-----*/

    #workshopGrid {
        margin-top: 160px;
        margin-bottom: 120px;
    }

    .cardTextWorkshop {
        text-align: center;
        padding: 16px;
    }

    /*-----GALLERY PAGE-----*/

    #galleryGrid {
        padding: 0 16px;
        margin-top: 160px;
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    .cardTextGallery {
        text-align: end;
        margin-top: -12px;
        padding-right: 0;
    }

    #galleryImage1 {
        grid-column: 1/2;
    }

    #galleryImage2 {
        grid-column: 2/3;
    }

    #galleryImage3 {
        grid-column: 1/2;
    }

    #galleryImage4 {
        grid-column: 2/3;
    }

    #galleryImage5 {
        grid-column: 1/2;
    }

    #galleryImage6 {
        grid-column: 2/3;
    }

    #galleryImage7 {
        grid-column: 1/2;
    }

    #galleryImage8 {
        grid-column: 2/3;
    }

    #galleryImage9 {
        grid-column: 1/2;
    }

    #galleryImage10 {
        grid-column: 2/3;
    }

    #galleryImage11 {
        grid-column: 1/2;
    }

    #galleryImage12 {
        grid-column: 2/3;
    }

    #galleryImage13 {
        grid-column: 1/2;
    }

    #galleryImage14 {
        grid-column: 2/3;
    }

    #galleryImage15 {
        grid-column: 1/2;
    }

    #galleryImage16 {
        grid-column: 2/3;
    }



    /*----CONTACT PAGE-----*/

    #contactGrid {
        margin-top: 200px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 120px;
    }

    #contactDetail {
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #contactForm {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
    }


    #contactName,
    #contactEmail,
    #contactSubject,
    #contactMessage {
        border: none;
        border-bottom: 2px solid #c87962;
        margin-bottom: 32px;
        outline: none;
    }

    #contactSubmit {
        border: none;
        height: 30px;
        width: 80px;
        background-color: #c87962;
        color: #f1e6d6;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        margin-top: 64px;
        margin: 64px auto 0 auto;

    }

    #contactSubmit:hover {
        background-color: #f1e6d6;
        color: #c87962;
    }


    /*----BOOKING PAGE-----*/

    #bookingGrid {
        margin-top: 200px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 120px;
    }

    #bookingDetail {
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #bookingForm,
    #bookingWorkshop,
    #bookingPayment {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
    }

    #bookingName,
    #bookingEmail,
    #bookingPhone,
    #bookingWorkshop,
    #bookingPrice,
    #bookingCardNumber,
    #bookingNameCard,
    #bookingExpiry,
    #bookingCVV {
        border: none;
        border-bottom: 2px solid #c87962;
        margin-bottom: 32px;
        outline: none;
    }

    #bookingSeclectWorkshop {
        border: none;
        background-color: white;
        cursor: pointer;
        border-radius: 0;

    }

    #bookingPay {
        border: none;
        height: 30px;
        width: 80px;
        background-color: #c87962;
        color: #f1e6d6;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        margin-top: 64px;
        margin: 64px auto 0 auto;

    }

    #bookingPay:hover {
        background-color: #f1e6d6;
        color: #c87962;
    }



    /*-----FOOTER-----*/


    #footerSection {
        background-image: url(../images/footer_image2.png);
        background-size: cover;
        width: 100%;
        height: 530px;
        margin: 0;
        justify-content: center;
    }

    #footerH3 {
        text-align: center;
    }

    #footerForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    #email {
        border: 2px solid black;
        width: 160px;
        height: 30px;
        outline: none;
    }

    #subscribe {
        height: 30px;
        border: none;
        background-color: #c87962;
        width: 80px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 0.75rem;
        color: #f1e6d6;
        cursor: pointer;
    }

    #subscribe:hover {
        background-color: #f1e6d6;
        color: #c87962;
    }

    #contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
    }

    #contact,
    #social {
        width: 140px;
    }

    #copyRight {
        text-align: center;
        margin-top: 60px;
    }






    /*-----MEDIA QUERIES-----*/


    @media screen and (min-width:640px) {

        html {
            font-size: 125%;
        }




        /*-----NAVIGATION-----*/


        nav {
            max-width: 1920px;
            background-color: transparent;
            margin: 0 auto;
            justify-content: space-between;
        }

        #links {
            display: flex;
        }

        #navButton {
            display: none;
        }


        /*-----HERO-----*/


        #headerSection {
            height: 1100px;
        }

        #hero {
            display: none;

        }

        #heroWeb {
            max-width: 1920px;
            display: block;
            margin: 0 auto;
            height: 1080px;
            margin-bottom: 16px;
        }

        #heroText {
            margin-top: -500px;
            margin-left: 200px;
        }

        #heroText h2 {
            font-size: 2rem;
            line-height: 2.5rem;
        }



        /* -----MAIN----- */


        main {
            max-width: 1920px;
            margin: 0 auto;
        }

        section {
            max-width: 1920px;
            margin: 0 auto;

        }


        /*----EXHIBITION section-----*/

        #card1 img {
            max-width: 840px;
            margin: 0 auto;
        }


        /*-----ARTIST section-----*/

        #artistSection {
            margin: 0 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 32px;
        }

        #tracey {
            grid-column: 1/2;
        }

        #emma {
            grid-column: 2/3;
            display: block;
        }

        #lauren {
            grid-column: 3/4;
            display: block;
        }

        #rachel {
            grid-column: 4/5;
            display: block;
        }

        /*-----WHORSHOP section-----*/

        #workshop {
            display: none;
        }

        #workshopWeb {
            display: block;
            height: 100%;
            max-width: 1920px;
        }


        /*-----GALLERY section-----*/

        #gallerySection {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 32px;
        }

        #image1 {
            grid-column: 1/2;
        }

        #image2 {
            grid-column: 2/3;
            display: block;
        }

        #image3 {
            grid-column: 3/4;
            display: block;
        }

        #image4 {
            grid-column: 4/5;
            display: block;
        }



        /*-----EXHIBITION PAGE-----*/


        #exhibitionInfo {
            max-width: 960px;
            padding-bottom: 100px;
        }

        .cardTextExhibition {
            text-align: center;
            padding: 16px auto;
            max-width: 960px;
            margin: 0 auto;
        }

        /*-----ARTIST PAGE-----*/

        #artistGrid {
            max-width: 960px;
            margin-top: 400px;
            margin-bottom: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 32px;
        }

        #artistLauren {
            grid-column: 1/2;
        }

        #artistTracey {
            grid-column: 2/3;
        }

        #artistRachel {
            grid-column: 1/2;
        }

        #artistEmma {
            grid-column: 2/3;
        }


        /*-----WORKSHOP PAGE-----*/


        #workshopGrid {
            max-width: 960px;
            margin-top: 500px;
            margin-bottom: 200px;
        }

        #workshop1,
        #workshop2,
        #workshop3,
        #workshop4 {
            margin-bottom: 100px;
        }

        .cardTextWorkshop {
            text-align: left;
            padding-left: 0;
        }

        #workshop1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;
        }

        #workshop2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;
        }

        #workshop3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;
        }

        #workshop4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;
        }

        #workshop1Text,
        #workshop2Text,
        #workshop3Text,
        #workshop4Text {
            background-color: #f1e6d6;
            padding: 32px;
        }


        /*-----GALLERY PAGE-----*/


        #galleryGrid {
            max-width: 960px;
            margin-top: 400px;
            margin-bottom: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 32px;
        }

        #galleryImage1 {
            grid-column: 1/2;
        }

        #galleryImage2 {
            grid-column: 2/3;
        }

        #galleryImage3 {
            grid-column: 3/4;
        }

        #galleryImage4 {
            grid-column: 4/5;
        }

        #galleryImage5 {
            display: block;
            grid-column: 1/2;
        }

        #galleryImage6 {
            display: block;
            grid-column: 2/3;
        }

        #galleryImage7 {
            display: block;
            grid-column: 3/4;
        }

        #galleryImage8 {
            display: block;
            grid-column: 4/5;
        }

        #galleryImage9 {
            display: block;
            grid-column: 1/2;
        }

        #galleryImage10 {
            display: block;
            grid-column: 2/3;
        }

        #galleryImage11 {
            display: block;
            grid-column: 3/4;
        }

        #galleryImage12 {
            display: block;
            grid-column: 4/5;
        }

        #galleryImage13 {
            display: block;
            grid-column: 1/2;
        }

        #galleryImage14 {
            display: block;
            grid-column: 2/3;
        }

        #galleryImage15 {
            display: block;
            grid-column: 3/4;
        }

        #galleryImage16 {
            display: block;
            grid-column: 4/5;
        }


        /*-----CONTACT PAGE-----*/


        #contactGrid {
            margin-top: 400px;
        }

        #contactDetail {
            margin-bottom: 100px;
        }

        #contactSubmit {
            width: 15vw;
        }


        /*-----BOOKING PAGE-----*/


        #bookingGrid {
            margin-top: 400px;
        }

        #contactDetail {
            margin-bottom: 100px;
        }

        #contactSubmit {
            width: 15vw;
        }



        /*-----FOOTER-----*/


        #footerSection {
            background-image: url(../images/webFooterImage1.jpg);
            background-size: cover;
            height: 1080px;
            max-width: 1920px;
            margin: 0 auto;
            background-color: white;
            padding-top: 200px;
        }

        #footerForm {
            padding-bottom: 100px;
        }

        #email {
            border: 2px solid black;
            width: 30vw;
            height: 30px;
        }

        #subscribe {
            width: 15vw;
        }


        #footerText {
            margin: 0 550px;
        }


        #contactInfo {
         max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        #contact {
            padding-top: 43px;
            grid-column: 1/2;
        }

        #social {
            grid-column: 2/3;
        }

        #copyRight {
            margin-top: 320px;
            text-align: center;
        }
    }
